# budget_tables_draft2017b.ipynb

## Purpose
Produce tables of MARC aerosol budget for *"Effective radiative forcing in the aerosol-climate model CAM5.3-MARC-ARG compared to default CAM5.3"*, based on results from project [p17c-marc-comparison](https://github.com/grandey/p17c-marc-comparison).

## Requirements
- NetCDF files produced by [budget_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/budget_cdo_nco_draft2017b.ipynb) and [analysis_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/analysis_cdo_nco_draft2017b.ipynb).
- Python modules mentioned in cell #2, inlcuding [climapy](https://github.com/grandey/climapy) ([doi:10.5281/zenodo.1053020](https://doi.org/10.5281/zenodo.1053020)).

## Author
Benjamin S. Grandey, 2018

## Acknowledgments
Thanks are due to **Alex Avramov**.  The interpretation of the diagnostics are informed by *print_MARC_budget_Benjamin.pro*, an IDL script written by Alex Avramov.

In [1]:
! date

Tue Jun 19 17:46:32 +08 2018

In [2]:
import climapy
import os
import numpy as np
import pandas as pd
import scipy
from scipy import stats
import xarray as xr

# Print versions of packages
for module in [climapy, np, pd, scipy, xr]:
    try:
        print('{}.__version__ = {}'.format(module.__name__, module.__version__))
    except AttributeError:
        pass

# Default precision when displaying DataFrames
pd.set_option('precision', 3)

climapy.__version__ = 0.1.0+b35937c
numpy.__version__ = 1.14.3
pandas.__version__ = 0.23.0
scipy.__version__ = 1.1.0
xarray.__version__ = 0.10.4

## Post-processed data file locations
Location of files written by [budget_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/budget_cdo_nco_draft2017b.ipynb) and [analysis_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/analysis_cdo_nco_draft2017b.ipynb). The latter contains the column burdens.

In [3]:
budget_dir = os.path.expandvars('$HOME/data/projects/p17c_marc_comparison/budget_cdo_nco_draft2017b/')
analysis_dir = os.path.expandvars('$HOME/data/projects/p17c_marc_comparison/analysis_cdo_nco_draft2017b/')

## Read global totals into dictionary

In [4]:
# Diagnostics to load data for
diagnostic_dict = {'c{}_LDG': 'BURDEN, Tg',  # loading / burden
                   # Sources
                   'c{}_SOURCE': 'SOURCES, Tg/yr',  # sum of sources
                   'c{}_SF': 'Emissions, Tg/yr',
                   'c{}_CND': 'H2SO4 condensation, Tg/yr',
                   'c{}_BNUC': 'Binary nucleation, Tg/yr',
                   'c{}_EVAP': 'Cloud evaporation, Tg/yr',
                   'c{}_CGsrc': 'Coagulation (source), Tg/yr',
                   'c{}_AGEsrc': 'Aging (source), Tg/yr',
                   'c{}_ADJsrc': 'Mode mass adjustment (source), Tg/yr',
                   # Sinks
                   'c{}_SINK': 'SINKS, Tg/yr',  # sum of sinks
                   'c{}_DRY': 'Dry deposition, Tg/yr',
                   'c{}_IMP': 'Impaction scavenging, Tg/yr',
                   'c{}_ACT': 'Nucleation scavenging by stratiform clouds, Tg/yr',
                   'c{}_SCV': 'Nucleation scavenging by convective clouds, Tg/yr',
                   'c{}_CGsnk': 'Coagulation (sink), Tg/yr',
                   'c{}_AGEsnk': 'Aging (sink), Tg/yr',
                   'c{}_ADJsnk': 'Mode mass adjustment (sink), Tg/yr',
                   }

In [5]:
# List of variables (aerosol-diagnostic combinations) to try loading data for
variable_list = []
for aerosol in ['tSUL', 'tOC', 'tBC', 'tDST', 'tSSLT',
                'NUC', 'AIT', 'ACC', 'OC', 'MOS', 'OIM', 'SIMOS', 'BC', 'MBS', 'BIM', 'SIMBS']:
    for diagnostic in diagnostic_dict.keys():
        variable_list.append(diagnostic.format(aerosol))

In [6]:
# Read data and calculate global totals, standard errors
# Initialise dictionaries
mean_dict = {}  # mean global totals
error_dict = {}  # standard errors, based on annual means
# Loop over years and variables
for year in ['2000', '1850']:
    for variable in variable_list:
        variable_year = (variable, year)
        try:
            # Read data from input file
            if '_LDG' in variable:
                in_filename = '{}/marc_{}_{}_ANN.nc'.format(analysis_dir, year, variable)
                in_ds = xr.open_dataset(in_filename, decode_times=False)[variable]
            else:
                in_filename = '{}/marc_{}_{}_ANN.nc'.format(budget_dir, year, variable)
                in_ds = xr.open_dataset(in_filename, decode_times=False)[variable]
            # Exclude first two years as spin-up
            data = in_ds.isel(time=slice(2, None))
            # Calculate sum across earth: kg/m2/s -> kg/s / kg/m2 -> kg
            totals = climapy.xr_area_weighted_stat(data, stat='sum')
            # Convert units
            if '_LDG' in variable:  # kg -> Tg
                totals = totals / 1e9
            else:  # kg/s -> Tg/yr
                totals = totals / 1e9 * 60 * 60 *24 * 365
            # Calculate mean across years
            mean_dict[variable_year] = float(totals.mean())
            # Calculate standard error
            error = totals.std(dim='time', ddof=1).data.flatten() / np.sqrt(totals['time'].size)
            error_dict[variable_year] = float(error)
            # Print mean
            print('{:13}, {}: {:10.4f} ± {:7.4f}'.format(variable, year, mean_dict[variable_year],
                                                        error_dict[variable_year]))
            # Close input file
            in_ds.close()   
        except FileNotFoundError:
            pass
! date

ctSUL_LDG    , 2000:     1.3229 ±  0.0028
ctSUL_SOURCE , 2000:   536.2118 ±  0.9161
ctSUL_CND    , 2000:    11.9424 ±  0.0525
ctSUL_BNUC   , 2000:     0.0021 ±  0.0000
ctSUL_EVAP   , 2000:   502.3945 ±  0.9012
ctSUL_AGEsrc , 2000:    21.8728 ±  0.0296
ctSUL_SINK   , 2000:  -536.3833 ±  0.9209
ctSUL_DRY    , 2000:    -5.2176 ±  0.0135
ctSUL_IMP    , 2000:  -116.3788 ±  0.0696
ctSUL_ACT    , 2000:  -394.1190 ±  0.8484
ctSUL_SCV    , 2000:   -20.6679 ±  0.0484
ctOC_LDG     , 2000:     1.3289 ±  0.0019
ctOC_SOURCE  , 2000:   100.7154 ±  0.0000
ctOC_SF      , 2000:   100.7154 ±  0.0000
ctOC_SINK    , 2000:  -100.6576 ±  0.0079
ctOC_DRY     , 2000:    -4.0990 ±  0.0061
ctOC_IMP     , 2000:   -83.3608 ±  0.0243
ctOC_ACT     , 2000:   -12.7048 ±  0.0214
ctOC_SCV     , 2000:    -0.4930 ±  0.0023
ctBC_LDG     , 2000:     0.0924 ±  0.0001
ctBC_SOURCE  , 2000:     6.8859 ±  0.0000
ctBC_SF      , 2000:     6.8859 ±  0.0000
ctBC_SINK    , 2000:    -6.8921 ±  0.0009
ctBC_DRY     , 2000:    -0.3703 ±  0.0006
ctBC_IMP     , 2000:    -5.4996 ±  0.0030
ctBC_ACT     , 2000:    -0.9955 ±  0.0027
ctBC_SCV     , 2000:    -0.0267 ±  0.0002
ctDST_LDG    , 2000:    40.7021 ±  0.2576
ctDST_SOURCE , 2000:  3652.0216 ± 19.5461
ctDST_SF     , 2000:  3652.0216 ± 19.5461
ctDST_SINK   , 2000: -3674.6288 ± 18.9923
ctDST_DRY    , 2000: -1860.2386 ± 13.6098
ctDST_IMP    , 2000: -1814.3902 ±  7.4810
ctSSLT_LDG   , 2000:     9.6053 ±  0.0166
ctSSLT_SOURCE, 2000:  5479.2551 ± 11.9572
ctSSLT_SF    , 2000:  5479.2551 ± 11.9572
ctSSLT_SINK  , 2000: -5527.8845 ± 12.0214
ctSSLT_DRY   , 2000: -3203.7427 ±  8.0548
ctSSLT_IMP   , 2000: -2324.1418 ±  4.3665
cNUC_LDG     , 2000:     0.0000 ±  0.0000
cNUC_SOURCE  , 2000:     0.0100 ±  0.0001
cNUC_CND     , 2000:     0.0080 ±  0.0001
cNUC_BNUC    , 2000:     0.0021 ±  0.0000
cNUC_SINK    , 2000:    -0.0101 ±  0.0001
cNUC_DRY     , 2000:    -0.0000 ±  0.0000
cNUC_IMP     , 2000:    -0.0021 ±  0.0000
cNUC_ACT     , 2000:    -0.0001 ±  0.0000
cNUC_SCV     , 2000:    -0.0000 ±  0.0000
cNUC_CGsnk   , 2000:    -0.0001 ±  0.0000
cNUC_ADJsnk  , 2000:    -0.0078 ±  0.0001
cAIT_LDG     , 2000:     0.0000 ±  0.0000
cAIT_SOURCE  , 2000:     0.1026 ±  0.0012
cAIT_CND     , 2000:     0.0948 ±  0.0011
cAIT_CGsrc   , 2000:     0.0000 ±  0.0000
cAIT_ADJsrc  , 2000:     0.0078 ±  0.0001
cAIT_SINK    , 2000:    -0.1026 ±  0.0012
cAIT_DRY     , 2000:    -0.0000 ±  0.0000
cAIT_IMP     , 2000:    -0.0006 ±  0.0000
cAIT_ACT     , 2000:    -0.0007 ±  0.0000
cAIT_SCV     , 2000:    -0.0000 ±  0.0000
cAIT_CGsnk   , 2000:    -0.0001 ±  0.0000
cAIT_ADJsnk  , 2000:    -0.1012 ±  0.0012
cACC_LDG     , 2000:     0.9404 ±  0.0017
cACC_SOURCE  , 2000:   507.1092 ±  0.8994
cACC_CND     , 2000:     4.6133 ±  0.0161
cACC_EVAP    , 2000:   502.3945 ±  0.9012
cACC_CGsrc   , 2000:     0.0001 ±  0.0000
cACC_ADJsrc  , 2000:     0.1012 ±  0.0012
cACC_SINK    , 2000:  -507.1920 ±  0.9028
cACC_DRY     , 2000:    -4.3286 ±  0.0102
cACC_IMP     , 2000:  -102.4295 ±  0.0578
cACC_ACT     , 2000:  -377.0417 ±  0.8263
cACC_SCV     , 2000:   -20.0152 ±  0.0455
cACC_CGsnk   , 2000:    -3.3769 ±  0.0169
cOC_LDG      , 2000:     1.0491 ±  0.0014
cOC_SOURCE   , 2000:   100.7154 ±  0.0000
cOC_SF       , 2000:   100.7154 ±  0.0000
cOC_SINK     , 2000:  -100.5931 ±  0.0065
cOC_DRY      , 2000:    -3.5195 ±  0.0052
cOC_IMP      , 2000:   -74.0391 ±  0.0343
cOC_ACT      , 2000:    -0.0002 ±  0.0000
cOC_SCV      , 2000:    -0.0000 ±  0.0000
cOC_CGsnk    , 2000:    -1.8799 ±  0.0085
cOC_AGEsnk   , 2000:   -21.1544 ±  0.0278
cMOS_LDG     , 2000:     0.5925 ±  0.0021
cMOS_SOURCE  , 2000:    49.0942 ±  0.0753
cMOS_CND     , 2000:     3.9332 ±  0.0215
cMOS_CGsrc   , 2000:     3.8438 ±  0.0152
cMOS_AGEsrc  , 2000:    41.3171 ±  0.0543
cMOS_SINK    , 2000:   -49.2307 ±  0.0768
cMOS_DRY     , 2000:    -1.2644 ±  0.0048
cMOS_IMP     , 2000:   -20.2812 ±  0.0363
cMOS_ACT     , 2000:   -26.6439 ±  0.0478
cMOS_SCV     , 2000:    -1.0411 ±  0.0057
cOIM_LDG     , 2000:     0.2799 ±  0.0009
cOIM_SOURCE  , 2000:    23.0343 ±  0.0334
cOIM_CGsrc   , 2000:     1.8799 ±  0.0085
cOIM_AGEsrc  , 2000:    21.1544 ±  0.0278
cOIM_SINK    , 2000:   -23.0987 ±  0.0339
cOIM_DRY     , 2000:    -0.5795 ±  0.0020
cOIM_IMP     , 2000:    -9.3217 ±  0.0162
cOIM_ACT     , 2000:   -12.7046 ±  0.0214
cOIM_SCV     , 2000:    -0.4930 ±  0.0023
cSIMOS_LDG   , 2000:     0.3127 ±  0.0012
cSIMOS_SOURCE, 2000:    26.0599 ±  0.0449
cSIMOS_CND   , 2000:     3.9332 ±  0.0215
cSIMOS_CGsrc , 2000:     1.9639 ±  0.0092
cSIMOS_AGEsrc, 2000:    20.1627 ±  0.0265
cSIMOS_SINK  , 2000:   -26.1319 ±  0.0458
cSIMOS_DRY   , 2000:    -0.6850 ±  0.0029
cSIMOS_IMP   , 2000:   -10.9595 ±  0.0213
cSIMOS_ACT   , 2000:   -13.9393 ±  0.0282
cSIMOS_SCV   , 2000:    -0.5482 ±  0.0034
cBC_LDG      , 2000:     0.0745 ±  0.0001
cBC_SOURCE   , 2000:     6.8859 ±  0.0000
cBC_SF       , 2000:     6.8859 ±  0.0000
cBC_SINK     , 2000:    -6.8871 ±  0.0009
cBC_DRY      , 2000:    -0.3177 ±  0.0005
cBC_IMP      , 2000:    -4.7753 ±  0.0041
cBC_ACT      , 2000:    -0.0000 ±  0.0000
cBC_SCV      , 2000:    -0.0000 ±  0.0000
cBC_AGEsnk   , 2000:    -1.7941 ±  0.0041
cMBS_LDG     , 2000:     0.0877 ±  0.0007
cMBS_SOURCE  , 2000:     8.2103 ±  0.0300
cMBS_CND     , 2000:     3.2931 ±  0.0213
cMBS_CGsrc   , 2000:     1.4131 ±  0.0080
cMBS_AGEsrc  , 2000:     3.5042 ±  0.0080
cMBS_SINK    , 2000:    -8.2318 ±  0.0305
cMBS_DRY     , 2000:    -0.2566 ±  0.0017
cMBS_IMP     , 2000:    -3.7113 ±  0.0133
cMBS_ACT     , 2000:    -4.1327 ±  0.0173
cMBS_SCV     , 2000:    -0.1312 ±  0.0017
cBIM_LDG     , 2000:     0.0179 ±  0.0001
cBIM_SOURCE  , 2000:     1.7941 ±  0.0041
cBIM_AGEsrc  , 2000:     1.7941 ±  0.0041
cBIM_SINK    , 2000:    -1.7991 ±  0.0041
cBIM_DRY     , 2000:    -0.0527 ±  0.0003
cBIM_IMP     , 2000:    -0.7243 ±  0.0017
cBIM_ACT     , 2000:    -0.9954 ±  0.0027
cBIM_SCV     , 2000:    -0.0267 ±  0.0002
cSIMBS_LDG   , 2000:     0.0698 ±  0.0006
cSIMBS_SOURCE, 2000:     6.4162 ±  0.0274
cSIMBS_CND   , 2000:     3.2931 ±  0.0213
cSIMBS_CGsrc , 2000:     1.4131 ±  0.0080
cSIMBS_AGEsrc, 2000:     1.7100 ±  0.0039
cSIMBS_SINK  , 2000:    -6.4327 ±  0.0278
cSIMBS_DRY   , 2000:    -0.2040 ±  0.0015
cSIMBS_IMP   , 2000:    -2.9870 ±  0.0121
cSIMBS_ACT   , 2000:    -3.1373 ±  0.0156
cSIMBS_SCV   , 2000:    -0.1045 ±  0.0016
ctSUL_LDG    , 1850:     0.5188 ±  0.0012
ctSUL_SOURCE , 1850:   210.8657 ±  0.2644
ctSUL_CND    , 1850:     4.7177 ±  0.0165
ctSUL_BNUC   , 1850:     0.0008 ±  0.0000
ctSUL_EVAP   , 1850:   201.0139 ±  0.2570
ctSUL_AGEsrc , 1850:     5.1333 ±  0.0098
ctSUL_SINK   , 1850:  -210.9596 ±  0.2640
ctSUL_DRY    , 1850:    -2.0393 ±  0.0046
ctSUL_IMP    , 1850:   -49.0103 ±  0.0232
ctSUL_ACT    , 1850:  -149.3344 ±  0.2295
ctSUL_SCV    , 1850:   -10.5757 ±  0.0297
ctOC_LDG     , 1850:     1.1719 ±  0.0018
ctOC_SOURCE  , 1850:    80.8228 ±  0.0000
ctOC_SF      , 1850:    80.8228 ±  0.0000
ctOC_SINK    , 1850:   -80.7716 ±  0.0074
ctOC_DRY     , 1850:    -3.2573 ±  0.0043
ctOC_IMP     , 1850:   -74.0981 ±  0.0101
ctOC_ACT     , 1850:    -3.1996 ±  0.0076
ctOC_SCV     , 1850:    -0.2167 ±  0.0009
ctBC_LDG     , 1850:     0.0362 ±  0.0001
ctBC_SOURCE  , 1850:     2.3273 ±  0.0000
ctBC_SF      , 1850:     2.3273 ±  0.0000
ctBC_SINK    , 1850:    -2.3328 ±  0.0004
ctBC_DRY     , 1850:    -0.1442 ±  0.0004
ctBC_IMP     , 1850:    -2.1149 ±  0.0006
ctBC_ACT     , 1850:    -0.0705 ±  0.0003
ctBC_SCV     , 1850:    -0.0031 ±  0.0000
ctDST_LDG    , 1850:    41.6140 ±  0.2970
ctDST_SOURCE , 1850:  3755.5618 ± 25.3373
ctDST_SF     , 1850:  3755.5618 ± 25.3373
ctDST_SINK   , 1850: -3779.3533 ± 25.9228
ctDST_DRY    , 1850: -1900.3873 ± 16.5015
ctDST_IMP    , 1850: -1878.9660 ± 11.4198
ctSSLT_LDG   , 1850:     9.6861 ±  0.0177
ctSSLT_SOURCE, 1850:  5507.1157 ± 13.3302
ctSSLT_SF    , 1850:  5507.1157 ± 13.3302
ctSSLT_SINK  , 1850: -5556.1386 ± 13.4735
ctSSLT_DRY   , 1850: -3228.3093 ±  9.0128
ctSSLT_IMP   , 1850: -2327.8293 ±  4.7736
cNUC_LDG     , 1850:     0.0000 ±  0.0000
cNUC_SOURCE  , 1850:     0.0070 ±  0.0001
cNUC_CND     , 1850:     0.0062 ±  0.0000
cNUC_BNUC    , 1850:     0.0008 ±  0.0000
cNUC_SINK    , 1850:    -0.0070 ±  0.0001
cNUC_DRY     , 1850:    -0.0000 ±  0.0000
cNUC_IMP     , 1850:    -0.0006 ±  0.0000
cNUC_ACT     , 1850:    -0.0001 ±  0.0000

cNUC_SCV     , 1850:    -0.0000 ±  0.0000
cNUC_CGsnk   , 1850:    -0.0000 ±  0.0000
cNUC_ADJsnk  , 1850:    -0.0062 ±  0.0000
cAIT_LDG     , 1850:     0.0000 ±  0.0000
cAIT_SOURCE  , 1850:     0.0784 ±  0.0006
cAIT_CND     , 1850:     0.0722 ±  0.0006
cAIT_CGsrc   , 1850:     0.0000 ±  0.0000
cAIT_ADJsrc  , 1850:     0.0062 ±  0.0000
cAIT_SINK    , 1850:    -0.0784 ±  0.0006
cAIT_DRY     , 1850:    -0.0000 ±  0.0000
cAIT_IMP     , 1850:    -0.0003 ±  0.0000
cAIT_ACT     , 1850:    -0.0005 ±  0.0000
cAIT_SCV     , 1850:    -0.0000 ±  0.0000
cAIT_CGsnk   , 1850:    -0.0001 ±  0.0000
cAIT_ADJsnk  , 1850:    -0.0774 ±  0.0006
cACC_LDG     , 1850:     0.4042 ±  0.0008
cACC_SOURCE  , 1850:   204.4547 ±  0.2586
cACC_CND     , 1850:     3.3633 ±  0.0112
cACC_EVAP    , 1850:   201.0139 ±  0.2570
cACC_CGsrc   , 1850:     0.0001 ±  0.0000
cACC_ADJsrc  , 1850:     0.0774 ±  0.0006
cACC_SINK    , 1850:  -204.5214 ±  0.2584
cACC_DRY     , 1850:    -1.8975 ±  0.0040
cACC_IMP     , 1850:   -46.1059 ±  0.0208
cACC_ACT     , 1850:  -145.9111 ±  0.2241
cACC_SCV     , 1850:   -10.3301 ±  0.0285
cACC_CGsnk   , 1850:    -0.2768 ±  0.0019
cOC_LDG      , 1850:     1.0681 ±  0.0015
cOC_SOURCE   , 1850:    80.8228 ±  0.0000
cOC_SF       , 1850:    80.8228 ±  0.0000
cOC_SINK     , 1850:   -80.7488 ±  0.0067
cOC_DRY      , 1850:    -3.1521 ±  0.0040
cOC_IMP      , 1850:   -71.6821 ±  0.0128
cOC_ACT      , 1850:    -0.0002 ±  0.0000
cOC_SCV      , 1850:     0.0000 ±  0.0000
cOC_CGsnk    , 1850:    -0.6659 ±  0.0033
cOC_AGEsnk   , 1850:    -5.2486 ±  0.0099
cMOS_LDG     , 1850:     0.2105 ±  0.0011
cMOS_SOURCE  , 1850:    12.1031 ±  0.0249
cMOS_CND     , 1850:     0.9845 ±  0.0066
cMOS_CGsrc   , 1850:     0.8674 ±  0.0042
cMOS_AGEsrc  , 1850:    10.2512 ±  0.0194
cMOS_SINK    , 1850:   -12.1510 ±  0.0255
cMOS_DRY     , 1850:    -0.2278 ±  0.0011
cMOS_IMP     , 1850:    -5.0638 ±  0.0099
cMOS_ACT     , 1850:    -6.4084 ±  0.0165
cMOS_SCV     , 1850:    -0.4511 ±  0.0024
cOIM_LDG     , 1850:     0.1038 ±  0.0006
cOIM_SOURCE  , 1850:     5.9145 ±  0.0121
cOIM_CGsrc   , 1850:     0.6659 ±  0.0033
cOIM_AGEsrc  , 1850:     5.2486 ±  0.0099
cOIM_SINK    , 1850:    -5.9373 ±  0.0124
cOIM_DRY     , 1850:    -0.1051 ±  0.0005
cOIM_IMP     , 1850:    -2.4160 ±  0.0051
cOIM_ACT     , 1850:    -3.1994 ±  0.0076
cOIM_SCV     , 1850:    -0.2167 ±  0.0009
cSIMOS_LDG   , 1850:     0.1066 ±  0.0006
cSIMOS_SOURCE, 1850:     6.1887 ±  0.0139
cSIMOS_CND   , 1850:     0.9845 ±  0.0066
cSIMOS_CGsrc , 1850:     0.2016 ±  0.0013
cSIMOS_AGEsrc, 1850:     5.0026 ±  0.0095
cSIMOS_SINK  , 1850:    -6.2137 ±  0.0142
cSIMOS_DRY   , 1850:    -0.1227 ±  0.0007
cSIMOS_IMP   , 1850:    -2.6478 ±  0.0058
cSIMOS_ACT   , 1850:    -3.2089 ±  0.0093
cSIMOS_SCV   , 1850:    -0.2343 ±  0.0015
cBC_LDG      , 1850:     0.0346 ±  0.0001
cBC_SOURCE   , 1850:     2.3273 ±  0.0000
cBC_SF       , 1850:     2.3273 ±  0.0000
cBC_SINK     , 1850:    -2.3322 ±  0.0004
cBC_DRY      , 1850:    -0.1403 ±  0.0004
cBC_IMP      , 1850:    -2.0548 ±  0.0007
cBC_ACT      , 1850:    -0.0000 ±  0.0000
cBC_SCV      , 1850:     0.0000 ±  0.0000
cBC_AGEsnk   , 1850:    -0.1372 ±  0.0005
cMBS_LDG     , 1850:     0.0096 ±  0.0002
cMBS_SOURCE  , 1850:     0.6347 ±  0.0054
cMBS_CND     , 1850:     0.2915 ±  0.0047
cMBS_CGsrc   , 1850:     0.0753 ±  0.0007
cMBS_AGEsrc  , 1850:     0.2679 ±  0.0009
cMBS_SINK    , 1850:    -0.6373 ±  0.0055
cMBS_DRY     , 1850:    -0.0230 ±  0.0004
cMBS_IMP     , 1850:    -0.3158 ±  0.0032
cMBS_ACT     , 1850:    -0.2842 ±  0.0022
cMBS_SCV     , 1850:    -0.0143 ±  0.0003
cBIM_LDG     , 1850:     0.0016 ±  0.0000
cBIM_SOURCE  , 1850:     0.1372 ±  0.0005
cBIM_AGEsrc  , 1850:     0.1372 ±  0.0005
cBIM_SINK    , 1850:    -0.1377 ±  0.0005
cBIM_DRY     , 1850:    -0.0040 ±  0.0000
cBIM_IMP     , 1850:    -0.0601 ±  0.0002
cBIM_ACT     , 1850:    -0.0705 ±  0.0003
cBIM_SCV     , 1850:    -0.0031 ±  0.0000
cSIMBS_LDG   , 1850:     0.0080 ±  0.0002
cSIMBS_SOURCE, 1850:     0.4975 ±  0.0051
cSIMBS_CND   , 1850:     0.2915 ±  0.0047
cSIMBS_CGsrc , 1850:     0.0753 ±  0.0007
cSIMBS_AGEsrc, 1850:     0.1307 ±  0.0005
cSIMBS_SINK  , 1850:    -0.4996 ±  0.0052
cSIMBS_DRY   , 1850:    -0.0190 ±  0.0003
cSIMBS_IMP   , 1850:    -0.2556 ±  0.0031
cSIMBS_ACT   , 1850:    -0.2137 ±  0.0020
cSIMBS_SCV   , 1850:    -0.0112 ±  0.0003
Tue Jun 19 17:46:39 +08 2018

Note: the values are ~0.1% lower than Alex's values, due to using slightly different values for the area of the earth.

## Rearrange into DataFrames

In [7]:
# Initialise dataframes
columns = ['tSUL', 'tOC', 'tBC', 'tDST', 'tSSLT',
           'NUC', 'AIT', 'ACC', 'OC', 'MOS', 'OIM', 'SIMOS', 'BC', 'MBS', 'BIM', 'SIMBS']
mean_2000_df = pd.DataFrame(columns=columns)  # marc_2000
error_2000_df = pd.DataFrame(columns=columns)
mean_1850_df = pd.DataFrame(columns=columns)  # marc_1850
error_1850_df = pd.DataFrame(columns=columns)

In [8]:
# Populate with data for diagnostics
for k, v in diagnostic_dict.items():  # loop over diagnostics
    for col in columns:  # loop over columns
        if (k.format(col), '2000') in mean_dict:
            mean_2000_df.loc[v, col] = mean_dict[(k.format(col), '2000')]
            error_2000_df.loc[v, col] = error_dict[(k.format(col), '2000')]
            mean_1850_df.loc[v, col] = mean_dict[(k.format(col), '1850')]
            error_1850_df.loc[v, col] = error_dict[(k.format(col), '1850')]

In [9]:
# Lifetime
mean_2000_df.loc['LIFETIME, days'] = (mean_2000_df.loc['BURDEN, Tg'] /
                                      mean_2000_df.loc['SINKS, Tg/yr'].abs() * 365)
error_2000_df.loc['LIFETIME, days'] = (mean_2000_df.loc['LIFETIME, days'] *
                                       ((error_2000_df.loc['BURDEN, Tg'] /
                                         mean_2000_df.loc['BURDEN, Tg'])**2 +
                                        (error_2000_df.loc['SINKS, Tg/yr'] /
                                         mean_2000_df.loc['SINKS, Tg/yr'].abs())**2).pow(0.5))
mean_1850_df.loc['LIFETIME, days'] = (mean_1850_df.loc['BURDEN, Tg'] /
                                      mean_1850_df.loc['SINKS, Tg/yr'] * -365)
error_1850_df.loc['LIFETIME, days'] = (mean_1850_df.loc['LIFETIME, days'] *
                                       ((error_1850_df.loc['BURDEN, Tg'] /
                                         mean_1850_df.loc['BURDEN, Tg'])**2 +
                                        (error_1850_df.loc['SINKS, Tg/yr'] /
                                         mean_1850_df.loc['SINKS, Tg/yr'].abs())**2).pow(0.5))

In [10]:
# Print means for marc_2000
mean_2000_df

,tSUL,tOC,tBC,tDST,tSSLT,NUC,AIT,ACC,OC,MOS,OIM,SIMOS,BC,MBS,BIM,SIMBS
"BURDEN, Tg",1.32,1.33,0.0924,40.7,9.61,3.37e-06,2.7e-05,0.94,1.05,0.593,0.28,0.313,0.0745,0.0877,0.0179,0.0698
"SOURCES, Tg/yr",536,101,6.89,3.65e+03,5.48e+03,0.01,0.103,507,101,49.1,23,26.1,6.89,8.21,1.79,6.42
"Emissions, Tg/yr",NaN,101,6.89,3.65e+03,5.48e+03,NaN,NaN,NaN,101,NaN,NaN,NaN,6.89,NaN,NaN,NaN
"H2SO4 condensation, Tg/yr",11.9,NaN,NaN,NaN,NaN,0.00799,0.0948,4.61,NaN,3.93,NaN,3.93,NaN,3.29,NaN,3.29
"Binary nucleation, Tg/yr",0.00206,NaN,NaN,NaN,NaN,0.00206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Cloud evaporation, Tg/yr",502,NaN,NaN,NaN,NaN,NaN,NaN,502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Coagulation (source), Tg/yr",NaN,NaN,NaN,NaN,NaN,NaN,1.76e-05,0.000133,NaN,3.84,1.88,1.96,NaN,1.41,NaN,1.41
"Aging (source), Tg/yr",21.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.3,21.2,20.2,NaN,3.5,1.79,1.71
"Mode mass adjustment (source), Tg/yr",NaN,NaN,NaN,NaN,NaN,NaN,0.00783,0.101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"SINKS, Tg/yr",-536,-101,-6.89,-3.67e+03,-5.53e+03,-0.0101,-0.103,-507,-101,-49.2,-23.1,-26.1,-6.89,-8.23,-1.8,-6.43
"Dry deposition, Tg/yr",-5.22,-4.1,-0.37,-1.86e+03,-3.2e+03,-1.57e-05,-2.77e-05,-4.33,-3.52,-1.26,-0.579,-0.685,-0.318,-0.257,-0.0527,-0.204
"Impaction scavenging, Tg/yr",-116,-83.4,-5.5,-1.81e+03,-2.32e+03,-0.00205,-0.000645,-102,-74,-20.3,-9.32,-11,-4.78,-3.71,-0.724,-2.99
"Nucleation scavenging by stratiform clouds, Tg/yr",-394,-12.7,-0.995,NaN,NaN,-0.000111,-0.000676,-377,-0.000175,-26.6,-12.7,-13.9,-1.06e-05,-4.13,-0.995,-3.14
"Nucleation scavenging by convective clouds, Tg/yr",-20.7,-0.493,-0.0267,NaN,NaN,-1.42e-07,-5e-07,-20,-1.08e-17,-1.04,-0.493,-0.548,-7.88e-19,-0.131,-0.0267,-0.104
"Coagulation (sink), Tg/yr",NaN,NaN,NaN,NaN,NaN,-5.29e-05,-0.000135,-3.38,-1.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Aging (sink), Tg/yr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-21.2,NaN,NaN,NaN,-1.79,NaN,NaN,NaN
"Mode mass adjustment (sink), Tg/yr",NaN,NaN,NaN,NaN,NaN,-0.00783,-0.101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"LIFETIME, days",0.9,4.82,4.89,4.04,0.634,0.122,0.0961,0.677,3.81,4.39,4.42,4.37,3.95,3.89,3.62,3.96

In [11]:
# Print means for marc_1850
mean_1850_df

,tSUL,tOC,tBC,tDST,tSSLT,NUC,AIT,ACC,OC,MOS,OIM,SIMOS,BC,MBS,BIM,SIMBS
"BURDEN, Tg",0.519,1.17,0.0362,41.6,9.69,3.4e-06,2.09e-05,0.404,1.07,0.21,0.104,0.107,0.0346,0.00958,0.0016,0.00798
"SOURCES, Tg/yr",211,80.8,2.33,3.76e+03,5.51e+03,0.00699,0.0784,204,80.8,12.1,5.91,6.19,2.33,0.635,0.137,0.498
"Emissions, Tg/yr",NaN,80.8,2.33,3.76e+03,5.51e+03,NaN,NaN,NaN,80.8,NaN,NaN,NaN,2.33,NaN,NaN,NaN
"H2SO4 condensation, Tg/yr",4.72,NaN,NaN,NaN,NaN,0.00617,0.0722,3.36,NaN,0.985,NaN,0.985,NaN,0.292,NaN,0.292
"Binary nucleation, Tg/yr",0.00082,NaN,NaN,NaN,NaN,0.00082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Cloud evaporation, Tg/yr",201,NaN,NaN,NaN,NaN,NaN,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Coagulation (source), Tg/yr",NaN,NaN,NaN,NaN,NaN,NaN,1.49e-05,0.000104,NaN,0.867,0.666,0.202,NaN,0.0753,NaN,0.0753
"Aging (source), Tg/yr",5.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.3,5.25,5,NaN,0.268,0.137,0.131
"Mode mass adjustment (source), Tg/yr",NaN,NaN,NaN,NaN,NaN,NaN,0.00622,0.0774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"SINKS, Tg/yr",-211,-80.8,-2.33,-3.78e+03,-5.56e+03,-0.00699,-0.0784,-205,-80.7,-12.2,-5.94,-6.21,-2.33,-0.637,-0.138,-0.5
"Dry deposition, Tg/yr",-2.04,-3.26,-0.144,-1.9e+03,-3.23e+03,-1.51e-05,-1.77e-05,-1.9,-3.15,-0.228,-0.105,-0.123,-0.14,-0.023,-0.00396,-0.019
"Impaction scavenging, Tg/yr",-49,-74.1,-2.11,-1.88e+03,-2.33e+03,-0.00063,-0.000338,-46.1,-71.7,-5.06,-2.42,-2.65,-2.05,-0.316,-0.0601,-0.256
"Nucleation scavenging by stratiform clouds, Tg/yr",-149,-3.2,-0.0705,NaN,NaN,-8.61e-05,-0.000526,-146,-0.00016,-6.41,-3.2,-3.21,-2.87e-06,-0.284,-0.0705,-0.214
"Nucleation scavenging by convective clouds, Tg/yr",-10.6,-0.217,-0.00309,NaN,NaN,-1.45e-07,-4.15e-07,-10.3,1.23e-17,-0.451,-0.217,-0.234,3.53e-20,-0.0143,-0.00309,-0.0112
"Coagulation (sink), Tg/yr",NaN,NaN,NaN,NaN,NaN,-3.44e-05,-9.24e-05,-0.277,-0.666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Aging (sink), Tg/yr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.25,NaN,NaN,NaN,-0.137,NaN,NaN,NaN
"Mode mass adjustment (sink), Tg/yr",NaN,NaN,NaN,NaN,NaN,-0.00622,-0.0774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"LIFETIME, days",0.898,5.3,5.67,4.02,0.636,0.177,0.0973,0.721,4.83,6.32,6.38,6.26,5.42,5.49,4.25,5.83

## Sulfate tables

In [12]:
# Year-2000
# Sulfate columns
sul_cols = ['tSUL', 'NUC', 'AIT', 'ACC', 'SIMOS', 'SIMBS',]
# Extract sulfate data
sul_mean_2000_df = mean_2000_df[sul_cols]
sul_error_2000_df = error_2000_df[sul_cols]
# Drop rows with no data
sul_mean_2000_df = sul_mean_2000_df.dropna(how='all')
sul_error_2000_df = sul_error_2000_df.dropna(how='all')
# Convert values to strings
sul_mean_2000_df = sul_mean_2000_df.applymap(lambda x: '%.2f' % x)
sul_error_2000_df = sul_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
sul_2000_df = sul_mean_2000_df + ' ± ' + sul_error_2000_df
# Replace 'nan ± nan' with ''
sul_2000_df = sul_2000_df.replace('nan ± nan', '')
# Rename columns
sul_2000_df = sul_2000_df.rename(index=str, columns={'tSUL': 'TOTAL SULFATE',
                                                     'NUC': 'in NUC',
                                                     'AIT': 'in AIT',
                                                     'ACC': 'in ACC',
                                                     'SIMOS': 'in MOS',
                                                     'SIMBS': 'in MBS'})
# Replace Tg with Tg(SO4) in first row (showing burdens)
sul_2000_df = sul_2000_df.rename({'BURDEN, Tg': 'BURDEN, Tg(SO4)',})
# Save to CSV
out_filename = 'csv/budget_table_sulfate_marc_2000.csv'
sul_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
sul_2000_df.style.set_caption('Year-2000')

Written csv/budget_table_sulfate_marc_2000.csv

In [13]:
# Year-1850
# Extract sulfate data
sul_mean_1850_df = mean_1850_df[sul_cols]
sul_error_1850_df = error_1850_df[sul_cols]
# Drop rows with no data
sul_mean_1850_df = sul_mean_1850_df.dropna(how='all')
sul_error_1850_df = sul_error_1850_df.dropna(how='all')
# Convert values to strings
sul_mean_1850_df = sul_mean_1850_df.applymap(lambda x: '%.2f' % x)
sul_error_1850_df = sul_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
sul_1850_df = sul_mean_1850_df + ' ± ' + sul_error_1850_df
# Replace 'nan ± nan' with ''
sul_1850_df = sul_1850_df.replace('nan ± nan', '')
# Rename columns
sul_1850_df = sul_1850_df.rename(index=str, columns={'tSUL': 'TOTAL SULFATE',
                                                     'NUC': 'in NUC',
                                                     'AIT': 'in AIT',
                                                     'ACC': 'in ACC',
                                                     'SIMOS': 'in MOS',
                                                     'SIMBS': 'in MBS'})
# Replace Tg with Tg(SO4) in first row (showing burdens)
sul_1850_df = sul_1850_df.rename({'BURDEN, Tg': 'BURDEN, Tg(SO4)',})
# Save to CSV
out_filename = 'csv/budget_table_sulfate_marc_1850.csv'
sul_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
sul_1850_df.style.set_caption('Year-1850')

Written csv/budget_table_sulfate_marc_1850.csv

## Organic carbon (OC) tables

In [14]:
# Year-2000
# OC columns
oc_cols = ['tOC', 'OC', 'OIM',]
# Extract OC data
oc_mean_2000_df = mean_2000_df[oc_cols]
oc_error_2000_df = error_2000_df[oc_cols]
# Drop rows with no data
oc_mean_2000_df = oc_mean_2000_df.dropna(how='all')
oc_error_2000_df = oc_error_2000_df.dropna(how='all')
# Convert values to strings
oc_mean_2000_df = oc_mean_2000_df.applymap(lambda x: '%.2f' % x)
oc_error_2000_df = oc_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
oc_2000_df = oc_mean_2000_df + ' ± ' + oc_error_2000_df
# Replace 'nan ± nan' with ''
oc_2000_df = oc_2000_df.replace('nan ± nan', '')
# Rename columns
oc_2000_df = oc_2000_df.rename(index=str, columns={'tOC': 'TOTAL OC',
                                                   'OC': 'in pure OC',
                                                   'OIM': 'in MOS'})
# Replace Tg with Tg(C) in first row (showing burdens)
oc_2000_df = oc_2000_df.rename({'BURDEN, Tg': 'BURDEN, Tg(C)',})
# Save to CSV
out_filename = 'csv/budget_table_oc_marc_2000.csv'
oc_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
oc_2000_df.style.set_caption('Year-2000')

Written csv/budget_table_oc_marc_2000.csv

In [15]:
# Year-1850
# OC columns
oc_cols = ['tOC', 'OC', 'OIM',]
# Extract OC data
oc_mean_1850_df = mean_1850_df[oc_cols]
oc_error_1850_df = error_1850_df[oc_cols]
# Drop rows with no data
oc_mean_1850_df = oc_mean_1850_df.dropna(how='all')
oc_error_1850_df = oc_error_1850_df.dropna(how='all')
# Convert values to strings
oc_mean_1850_df = oc_mean_1850_df.applymap(lambda x: '%.2f' % x)
oc_error_1850_df = oc_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
oc_1850_df = oc_mean_1850_df + ' ± ' + oc_error_1850_df
# Replace 'nan ± nan' with ''
oc_1850_df = oc_1850_df.replace('nan ± nan', '')
# Rename columns
oc_1850_df = oc_1850_df.rename(index=str, columns={'tOC': 'TOTAL OC',
                                                   'OC': 'in pure OC',
                                                   'OIM': 'in MOS'})
# Replace Tg with Tg(C) in first row (showing burdens)
oc_1850_df = oc_1850_df.rename({'BURDEN, Tg': 'BURDEN, Tg(C)',})
# Save to CSV
out_filename = 'csv/budget_table_oc_marc_1850.csv'
oc_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
oc_1850_df.style.set_caption('Year-1850')

Written csv/budget_table_oc_marc_1850.csv

## Black carbon (BC) tables

In [16]:
# Year-2000
# BC columns
bc_cols = ['tBC', 'BC', 'BIM',]
# Extract BC data
bc_mean_2000_df = mean_2000_df[bc_cols]
bc_error_2000_df = error_2000_df[bc_cols]
# Drop rows with no data
bc_mean_2000_df = bc_mean_2000_df.dropna(how='all')
bc_error_2000_df = bc_error_2000_df.dropna(how='all')
# Convert values to strings
bc_mean_2000_df = bc_mean_2000_df.applymap(lambda x: '%.2f' % x)
bc_error_2000_df = bc_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
bc_2000_df = bc_mean_2000_df + ' ± ' + bc_error_2000_df
# Replace 'nan ± nan' with ''
bc_2000_df = bc_2000_df.replace('nan ± nan', '')
# Rename columns
bc_2000_df = bc_2000_df.rename(index=str, columns={'tBC': 'TOTAL BC',
                                                   'BC': 'in pure BC',
                                                   'BIM': 'in MBS'})
# Replace Tg with Tg(C) in first row (showing burdens)
bc_2000_df = bc_2000_df.rename({'BURDEN, Tg': 'BURDEN, Tg(C)',})
# Save to CSV
out_filename = 'csv/budget_table_bc_marc_2000.csv'
bc_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
bc_2000_df.style.set_caption('Year-2000')

Written csv/budget_table_bc_marc_2000.csv

In [17]:
# Year-1850
# BC columns
bc_cols = ['tBC', 'BC', 'BIM',]
# Extract BC data
bc_mean_1850_df = mean_1850_df[bc_cols]
bc_error_1850_df = error_1850_df[bc_cols]
# Drop rows with no data
bc_mean_1850_df = bc_mean_1850_df.dropna(how='all')
bc_error_1850_df = bc_error_1850_df.dropna(how='all')
# Convert values to strings
bc_mean_1850_df = bc_mean_1850_df.applymap(lambda x: '%.2f' % x)
bc_error_1850_df = bc_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
bc_1850_df = bc_mean_1850_df + ' ± ' + bc_error_1850_df
# Replace 'nan ± nan' with ''
bc_1850_df = bc_1850_df.replace('nan ± nan', '')
# Rename columns
bc_1850_df = bc_1850_df.rename(index=str, columns={'tBC': 'TOTAL BC',
                                                   'BC': 'in pure BC',
                                                   'BIM': 'in MBS'})
# Replace Tg with Tg(C) in first row (showing burdens)
bc_1850_df = bc_1850_df.rename({'BURDEN, Tg': 'BURDEN, Tg(C)',})
# Save to CSV
out_filename = 'csv/budget_table_bc_marc_1850.csv'
bc_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
bc_1850_df.style.set_caption('Year-1850')

Written csv/budget_table_bc_marc_1850.csv

## Dust and sea-salt

In [18]:
# Year-2000
# Columns
dust_salt_cols = ['tDST', 'tSSLT']
# Extract data
dust_salt_mean_2000_df = mean_2000_df[dust_salt_cols]
dust_salt_error_2000_df = error_2000_df[dust_salt_cols]
# Drop rows with no data
dust_salt_mean_2000_df = dust_salt_mean_2000_df.dropna(how='all')
dust_salt_error_2000_df = dust_salt_error_2000_df.dropna(how='all')
# Convert values to strings
dust_salt_mean_2000_df = dust_salt_mean_2000_df.applymap(lambda x: '%.2f' % x)
dust_salt_error_2000_df = dust_salt_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
dust_salt_2000_df = dust_salt_mean_2000_df + ' ± ' + dust_salt_error_2000_df
# Replace 'nan ± nan' with ''
dust_salt_2000_df = dust_salt_2000_df.replace('nan ± nan', '')
# Rename columns
dust_salt_2000_df = dust_salt_2000_df.rename(index=str, columns={'tDST': 'TOTAL DUST',
                                                                 'tSSLT': 'TOTAL SEA-SALT'})
# Save to CSV
out_filename = 'csv/budget_table_dust_salt_marc_2000.csv'
dust_salt_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
dust_salt_2000_df.style.set_caption('Year-2000')

Written csv/budget_table_dust_salt_marc_2000.csv

In [19]:
# Year-1850
# Columns
dust_salt_cols = ['tDST', 'tSSLT']
# Extract data
dust_salt_mean_1850_df = mean_1850_df[dust_salt_cols]
dust_salt_error_1850_df = error_1850_df[dust_salt_cols]
# Drop rows with no data
dust_salt_mean_1850_df = dust_salt_mean_1850_df.dropna(how='all')
dust_salt_error_1850_df = dust_salt_error_1850_df.dropna(how='all')
# Convert values to strings
dust_salt_mean_1850_df = dust_salt_mean_1850_df.applymap(lambda x: '%.2f' % x)
dust_salt_error_1850_df = dust_salt_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
dust_salt_1850_df = dust_salt_mean_1850_df + ' ± ' + dust_salt_error_1850_df
# Replace 'nan ± nan' with ''
dust_salt_1850_df = dust_salt_1850_df.replace('nan ± nan', '')
# Rename columns
dust_salt_1850_df = dust_salt_1850_df.rename(index=str, columns={'tDST': 'TOTAL DUST',
                                                                 'tSSLT': 'TOTAL SEA-SALT'})
# Save to CSV
out_filename = 'csv/budget_table_dust_salt_marc_1850.csv'
dust_salt_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Display
dust_salt_1850_df.style.set_caption('Year-1850')

Written csv/budget_table_dust_salt_marc_1850.csv

In [20]:
! date

Tue Jun 19 17:46:40 +08 2018