# budget_tables_draft2017b.ipynb

## Purpose
Produce tables of MARC aerosol budget for *"Effective radiative forcing in the aerosol-climate model CAM5.3-MARC-ARG compared to default CAM5.3"*, based on results from project [p17c-marc-comparison](https://github.com/grandey/p17c-marc-comparison).

## Requirements
- NetCDF files produced by [budget_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/budget_cdo_nco_draft2017b.ipynb) and [analysis_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/analysis_cdo_nco_draft2017b.ipynb).
- Python modules mentioned in cell #2, inlcuding [climapy](https://github.com/grandey/climapy) ([doi:10.5281/zenodo.1053020](https://doi.org/10.5281/zenodo.1053020)).

## Author
Benjamin S. Grandey, 2018

## Acknowledgments
Thanks are due to **Alex Avramov**.  The interpretation of the diagnostics are informed by *print_MARC_budget_Benjamin.pro*, an IDL script written by Alex Avramov.

In [1]:
! date

Thu Aug  2 12:15:04 +08 2018

In [2]:
import climapy
import os
import numpy as np
import pandas as pd
import scipy
from scipy import stats
import xarray as xr

# Print versions of packages
for module in [climapy, np, pd, scipy, xr]:
    try:
        print('{}.__version__ = {}'.format(module.__name__, module.__version__))
    except AttributeError:
        pass
    
# Default precision when displaying DataFrames
pd.set_option('precision', 3)

climapy.__version__ = 0.1.0+b35937c
numpy.__version__ = 1.14.3
pandas.__version__ = 0.23.0
scipy.__version__ = 1.1.0
xarray.__version__ = 0.10.4

## Post-processed data file locations
Location of files written by [budget_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/budget_cdo_nco_draft2017b.ipynb) and [analysis_cdo_nco_draft2017b.ipynb](https://github.com/grandey/p17c-marc-comparison/blob/master/analysis_draft2017b/analysis_cdo_nco_draft2017b.ipynb). The latter contains the column burdens.

In [3]:
budget_dir = os.path.expandvars('$HOME/data/projects/p17c_marc_comparison/budget_cdo_nco_draft2017b/')
analysis_dir = os.path.expandvars('$HOME/data/projects/p17c_marc_comparison/analysis_cdo_nco_draft2017b/')

## Read global totals into dictionary

In [4]:
# Diagnostics to load data for
diagnostic_dict = {
    # Sources
    'c{}_SOURCE': 'Sources, Tg/yr',  # sum of sources
    'c{}_SF': '    Emission',
    'c{}_BNUC': '    Binary nucleation',
    'c{}_CND': '    Condensation',
    'c{}_AGEsrc': '    Aging (source)',
    'c{}_ADJsrc': '    Growth (source)',
    'c{}_CGsrc': '    Coagulation (source)',
    'c{}_EVAP': '    Hydrometeor evaporation',
    # Sinks
    'c{}_SINK': 'Sinks, Tg/yr',  # sum of sinks
    'c{}_AGEsnk': '    Aging (sink)',
    'c{}_ADJsnk': '    Growth (sink)',      
    'c{}_CGsnk': '    Coagulation (sink)',             
    'c{}_ACT': '    Nucleation scavenging by stratiform clouds',
    'c{}_SCV': '    Nucleation scavenging by convective clouds',
    'c{}_IMP': '    Impaction scavenging',
    'c{}_DRY': '    Dry deposition',
    # Burden / loading
    'c{}_LDG': 'Burden, Tg'
}

In [5]:
# List of variables (aerosol-diagnostic combinations) to try loading data for
variable_list = []
for aerosol in ['tSUL', 'tOC', 'tBC', 'tDST', 'tSSLT',
                'NUC', 'AIT', 'ACC', 'OC', 'MOS', 'OIM', 'SIMOS', 'BC', 'MBS', 'BIM', 'SIMBS']:
    for diagnostic in diagnostic_dict.keys():
        variable_list.append(diagnostic.format(aerosol))

In [6]:
# Read data and calculate global totals, standard errors
# Initialise dictionaries
mean_dict = {}  # mean global totals
error_dict = {}  # standard errors, based on annual means
# Loop over years and variables
for year in ['2000', '1850']:
    for variable in variable_list:
        variable_year = (variable, year)
        try:
            # Read data from input file
            if '_LDG' in variable:
                in_filename = '{}/marc_s2_{}_{}_ANN.nc'.format(analysis_dir, year, variable)
                in_ds = xr.open_dataset(in_filename, decode_times=False)[variable]
            else:
                in_filename = '{}/marc_s2_{}_{}_ANN.nc'.format(budget_dir, year, variable)
                in_ds = xr.open_dataset(in_filename, decode_times=False)[variable]
            # Exclude first two years as spin-up
            data = in_ds.isel(time=slice(2, None))
            # Calculate sum across earth: kg/m2/s -> kg/s / kg/m2 -> kg
            totals = climapy.xr_area_weighted_stat(data, stat='sum')
            # Convert units
            if '_LDG' in variable:  # kg -> Tg
                totals = totals / 1e9
            else:  # kg/s -> Tg/yr
                totals = totals / 1e9 * 60 * 60 *24 * 365
            # Calculate mean across years
            mean_dict[variable_year] = float(totals.mean())
            # Calculate standard error
            error = totals.std(dim='time', ddof=1).data.flatten() / np.sqrt(totals['time'].size)
            error_dict[variable_year] = float(error)
            # Print mean
            print('{:13}, {}: {:10.4f} ± {:7.4f}'.format(variable, year, mean_dict[variable_year],
                                                        error_dict[variable_year]))
            # Close input file
            in_ds.close()   
        except FileNotFoundError:
            pass
! date

ctSUL_SOURCE , 2000:   538.7005 ±  0.7464
ctSUL_BNUC   , 2000:     0.0019 ±  0.0001
ctSUL_CND    , 2000:    11.5506 ±  0.0531
ctSUL_AGEsrc , 2000:    22.3322 ±  0.0203
ctSUL_EVAP   , 2000:   504.8158 ±  0.7477
ctSUL_SINK   , 2000:  -538.8804 ±  0.7439
ctSUL_ACT    , 2000:  -396.5978 ±  0.6930
ctSUL_SCV    , 2000:   -20.7465 ±  0.0611
ctSUL_IMP    , 2000:  -116.2898 ±  0.0614
ctSUL_DRY    , 2000:    -5.2464 ±  0.0102
ctSUL_LDG    , 2000:     1.3313 ±  0.0028
ctOC_SOURCE  , 2000:   108.8810 ±  0.0000
ctOC_SF      , 2000:   108.8810 ±  0.0000
ctOC_SINK    , 2000:  -108.8222 ±  0.0086
ctOC_ACT     , 2000:   -13.1431 ±  0.0146
ctOC_SCV     , 2000:    -0.5127 ±  0.0021
ctOC_IMP     , 2000:   -90.6522 ±  0.0175
ctOC_DRY     , 2000:    -4.5141 ±  0.0047
ctOC_LDG     , 2000:     1.4934 ±  0.0028
ctBC_SOURCE  , 2000:     7.7587 ±  0.0000
ctBC_SF      , 2000:     7.7587 ±  0.0000
ctBC_SINK    , 2000:    -7.7653 ±  0.0011
ctBC_ACT     , 2000:    -1.0153 ±  0.0019
ctBC_SCV     , 2000:    -0.0277 ±  0.0002
ctBC_IMP     , 2000:    -6.3051 ±  0.0023
ctBC_DRY     , 2000:    -0.4172 ±  0.0006
ctBC_LDG     , 2000:     0.1104 ±  0.0002
ctDST_SOURCE , 2000:  3683.1934 ± 25.5927
ctDST_SF     , 2000:  3683.1934 ± 25.5927
ctDST_SINK   , 2000: -3705.7904 ± 25.8782
ctDST_IMP    , 2000: -1819.2678 ± 11.2646
ctDST_DRY    , 2000: -1886.5226 ± 16.0509
ctDST_LDG    , 2000:    40.9079 ±  0.3035
ctSSLT_SOURCE, 2000:  5484.8762 ± 11.1835
ctSSLT_SF    , 2000:  5484.8762 ± 11.1835
ctSSLT_SINK  , 2000: -5533.6156 ± 11.2385
ctSSLT_IMP   , 2000: -2324.4242 ±  4.2920
ctSSLT_DRY   , 2000: -3209.1914 ±  7.2747
ctSSLT_LDG   , 2000:     9.5985 ±  0.0158
cNUC_SOURCE  , 2000:     0.0091 ±  0.0001
cNUC_BNUC    , 2000:     0.0019 ±  0.0001
cNUC_CND     , 2000:     0.0071 ±  0.0001
cNUC_SINK    , 2000:    -0.0091 ±  0.0001
cNUC_ADJsnk  , 2000:    -0.0070 ±  0.0001
cNUC_CGsnk   , 2000:    -0.0000 ±  0.0000
cNUC_ACT     , 2000:    -0.0001 ±  0.0000
cNUC_SCV     , 2000:    -0.0000 ±  0.0000
cNUC_IMP     , 2000:    -0.0020 ±  0.0000
cNUC_DRY     , 2000:    -0.0000 ±  0.0000
cNUC_LDG     , 2000:     0.0000 ±  0.0000
cAIT_SOURCE  , 2000:     0.0911 ±  0.0009
cAIT_CND     , 2000:     0.0841 ±  0.0008
cAIT_ADJsrc  , 2000:     0.0070 ±  0.0001
cAIT_CGsrc   , 2000:     0.0000 ±  0.0000
cAIT_SINK    , 2000:    -0.0911 ±  0.0009
cAIT_ADJsnk  , 2000:    -0.0897 ±  0.0009
cAIT_CGsnk   , 2000:    -0.0001 ±  0.0000
cAIT_ACT     , 2000:    -0.0006 ±  0.0000
cAIT_SCV     , 2000:    -0.0000 ±  0.0000
cAIT_IMP     , 2000:    -0.0006 ±  0.0000
cAIT_DRY     , 2000:    -0.0000 ±  0.0000
cAIT_LDG     , 2000:     0.0000 ±  0.0000
cACC_SOURCE  , 2000:   509.2779 ±  0.7487
cACC_CND     , 2000:     4.3722 ±  0.0145
cACC_ADJsrc  , 2000:     0.0897 ±  0.0009
cACC_CGsrc   , 2000:     0.0001 ±  0.0000
cACC_EVAP    , 2000:   504.8158 ±  0.7477
cACC_SINK    , 2000:  -509.3670 ±  0.7452
cACC_CGsnk   , 2000:    -3.4926 ±  0.0166
cACC_ACT     , 2000:  -379.2335 ±  0.6768
cACC_SCV     , 2000:   -20.0835 ±  0.0589
cACC_IMP     , 2000:  -102.2125 ±  0.0560
cACC_DRY     , 2000:    -4.3449 ±  0.0078
cACC_LDG     , 2000:     0.9417 ±  0.0015
cOC_SOURCE   , 2000:   108.8810 ±  0.0000
cOC_SF       , 2000:   108.8810 ±  0.0000
cOC_SINK     , 2000:  -108.7544 ±  0.0075
cOC_AGEsnk   , 2000:   -21.5975 ±  0.0196
cOC_CGsnk    , 2000:    -2.2168 ±  0.0078
cOC_ACT      , 2000:    -0.0002 ±  0.0000
cOC_SCV      , 2000:    -0.0000 ±  0.0000
cOC_IMP      , 2000:   -81.0267 ±  0.0230
cOC_DRY      , 2000:    -3.9133 ±  0.0041
cOC_LDG      , 2000:     1.2014 ±  0.0020
cMOS_SOURCE  , 2000:    50.2634 ±  0.0589
cMOS_CND     , 2000:     3.8404 ±  0.0222
cMOS_AGEsrc  , 2000:    42.1826 ±  0.0382
cMOS_CGsrc   , 2000:     4.2404 ±  0.0140
cMOS_SINK    , 2000:   -50.4053 ±  0.0595
cMOS_ACT     , 2000:   -27.3331 ±  0.0356
cMOS_SCV     , 2000:    -1.0705 ±  0.0045
cMOS_IMP     , 2000:   -20.7042 ±  0.0398
cMOS_DRY     , 2000:    -1.2975 ±  0.0044
cMOS_LDG     , 2000:     0.6109 ±  0.0024
cOIM_SOURCE  , 2000:    23.8143 ±  0.0235
cOIM_AGEsrc  , 2000:    21.5975 ±  0.0196
cOIM_CGsrc   , 2000:     2.2168 ±  0.0078
cOIM_SINK    , 2000:   -23.8820 ±  0.0240
cOIM_ACT     , 2000:   -13.1430 ±  0.0146
cOIM_SCV     , 2000:    -0.5127 ±  0.0021
cOIM_IMP     , 2000:    -9.6256 ±  0.0176
cOIM_DRY     , 2000:    -0.6008 ±  0.0018
cOIM_LDG     , 2000:     0.2921 ±  0.0011
cSIMOS_SOURCE, 2000:    26.4492 ±  0.0382
cSIMOS_CND   , 2000:     3.8404 ±  0.0222
cSIMOS_AGEsrc, 2000:    20.5851 ±  0.0186
cSIMOS_CGsrc , 2000:     2.0237 ±  0.0086
cSIMOS_SINK  , 2000:   -26.5232 ±  0.0383
cSIMOS_ACT   , 2000:   -14.1901 ±  0.0221
cSIMOS_SCV   , 2000:    -0.5578 ±  0.0025
cSIMOS_IMP   , 2000:   -11.0786 ±  0.0236
cSIMOS_DRY   , 2000:    -0.6967 ±  0.0027
cSIMOS_LDG   , 2000:     0.3188 ±  0.0014
cBC_SOURCE   , 2000:     7.7587 ±  0.0000
cBC_SF       , 2000:     7.7587 ±  0.0000
cBC_SINK     , 2000:    -7.7601 ±  0.0010
cBC_AGEsnk   , 2000:    -1.8330 ±  0.0030
cBC_ACT      , 2000:    -0.0000 ±  0.0000
cBC_SCV      , 2000:    -0.0000 ±  0.0000
cBC_IMP      , 2000:    -5.5639 ±  0.0030
cBC_DRY      , 2000:    -0.3631 ±  0.0005
cBC_LDG      , 2000:     0.0918 ±  0.0002
cMBS_SOURCE  , 2000:     8.2959 ±  0.0268
cMBS_CND     , 2000:     3.2468 ±  0.0223
cMBS_AGEsrc  , 2000:     3.5801 ±  0.0058
cMBS_CGsrc   , 2000:     1.4690 ±  0.0084
cMBS_SINK    , 2000:    -8.3177 ±  0.0271
cMBS_ACT     , 2000:    -4.1887 ±  0.0137
cMBS_SCV     , 2000:    -0.1329 ±  0.0014
cMBS_IMP     , 2000:    -3.7373 ±  0.0144
cMBS_DRY     , 2000:    -0.2588 ±  0.0018
cMBS_LDG     , 2000:     0.0894 ±  0.0007
cBIM_SOURCE  , 2000:     1.8330 ±  0.0030
cBIM_AGEsrc  , 2000:     1.8330 ±  0.0030
cBIM_SINK    , 2000:    -1.8382 ±  0.0031
cBIM_ACT     , 2000:    -1.0153 ±  0.0019
cBIM_SCV     , 2000:    -0.0277 ±  0.0002
cBIM_IMP     , 2000:    -0.7412 ±  0.0018
cBIM_DRY     , 2000:    -0.0541 ±  0.0002
cBIM_LDG     , 2000:     0.0186 ±  0.0001
cSIMBS_SOURCE, 2000:     6.4629 ±  0.0254
cSIMBS_CND   , 2000:     3.2468 ±  0.0223
cSIMBS_AGEsrc, 2000:     1.7471 ±  0.0028
cSIMBS_CGsrc , 2000:     1.4690 ±  0.0084
cSIMBS_SINK  , 2000:    -6.4795 ±  0.0256
cSIMBS_ACT   , 2000:    -3.1734 ±  0.0128
cSIMBS_SCV   , 2000:    -0.1052 ±  0.0012
cSIMBS_IMP   , 2000:    -2.9961 ±  0.0134
cSIMBS_DRY   , 2000:    -0.2048 ±  0.0016
cSIMBS_LDG   , 2000:     0.0708 ±  0.0007
ctSUL_SOURCE , 1850:   211.0329 ±  0.2918
ctSUL_BNUC   , 1850:     0.0009 ±  0.0000
ctSUL_CND    , 1850:     4.5747 ±  0.0211
ctSUL_AGEsrc , 1850:     5.2417 ±  0.0102
ctSUL_EVAP   , 1850:   201.2157 ±  0.2852
ctSUL_SINK   , 1850:  -211.1269 ±  0.2931
ctSUL_ACT    , 1850:  -149.5395 ±  0.2717
ctSUL_SCV    , 1850:   -10.5651 ±  0.0227
ctSUL_IMP    , 1850:   -48.9846 ±  0.0185
ctSUL_DRY    , 1850:    -2.0377 ±  0.0050
ctSUL_LDG    , 1850:     0.5187 ±  0.0014
ctOC_SOURCE  , 1850:    87.9384 ±  0.0000
ctOC_SF      , 1850:    87.9384 ±  0.0000
ctOC_SINK    , 1850:   -87.8964 ±  0.0061
ctOC_ACT     , 1850:    -3.3234 ±  0.0064
ctOC_SCV     , 1850:    -0.2235 ±  0.0010
ctOC_IMP     , 1850:   -80.6787 ±  0.0105
ctOC_DRY     , 1850:    -3.6707 ±  0.0042
ctOC_LDG     , 1850:     1.2929 ±  0.0023
ctBC_SOURCE  , 1850:     3.0792 ±  0.0000
ctBC_SF      , 1850:     3.0792 ±  0.0000
ctBC_SINK    , 1850:    -3.0859 ±  0.0005
ctBC_ACT     , 1850:    -0.0817 ±  0.0004
ctBC_SCV     , 1850:    -0.0037 ±  0.0000
ctBC_IMP     , 1850:    -2.8131 ±  0.0008
ctBC_DRY     , 1850:    -0.1873 ±  0.0004
ctBC_LDG     , 1850:     0.0496 ±  0.0001
ctDST_SOURCE , 1850:  3789.2636 ± 21.8652
ctDST_SF     , 1850:  3789.2636 ± 21.8652
ctDST_SINK   , 1850: -3812.7021 ± 21.3575
ctDST_IMP    , 1850: -1898.7671 ±  8.8841
ctDST_DRY    , 1850: -1913.9350 ± 14.3195
ctDST_LDG    , 1850:    41.8311 ±  0.2418
ctSSLT_SOURCE, 1850:  5510.0620 ± 14.8075
ctSSLT_SF    , 1850:  5510.0620 ± 14.8075
ctSSLT_SINK  , 1850: -5559.0866 ± 14.9558
ctSSLT_IMP   , 1850: -2327.1124 ±  5.7345
ctSSLT_DRY   , 1850: -3231.9743 ±  9.4525
ctSSLT_LDG   , 1850:     9.6632 ±  0.0173
cNUC_SOURCE  , 1850:     0.0066 ±  0.0001
cNUC_BNUC    , 1850:     0.0009 ±  0.0000
cNUC_CND     , 1850:     0.0058 ±  0.0000
cNUC_SINK    , 1850:    -0.0067 ±  0.0001
cNUC_ADJsnk  , 1850:    -0.0058 ±  0.0000
cNUC_CGsnk   , 1850:    -0.0000 ±  0.0000
cNUC_ACT     , 1850:    -0.0001 ±  0.0000
cNUC_SCV     , 1850:    -0.0000 ±  0.0000
cNUC_IMP     , 1850:    -0.0007 ±  0.0000
cNUC_DRY     , 1850:    -0.0000 ±  0.0000
cNUC_LDG     , 1850:     0.0000 ±  0.0000
cAIT_SOURCE  , 1850:     0.0726 ±  0.0006

cAIT_CND     , 1850:     0.0668 ±  0.0006
cAIT_ADJsrc  , 1850:     0.0058 ±  0.0000
cAIT_CGsrc   , 1850:     0.0000 ±  0.0000
cAIT_SINK    , 1850:    -0.0726 ±  0.0006
cAIT_ADJsnk  , 1850:    -0.0717 ±  0.0006
cAIT_CGsnk   , 1850:    -0.0001 ±  0.0000
cAIT_ACT     , 1850:    -0.0005 ±  0.0000
cAIT_SCV     , 1850:    -0.0000 ±  0.0000
cAIT_IMP     , 1850:    -0.0003 ±  0.0000
cAIT_DRY     , 1850:    -0.0000 ±  0.0000
cAIT_LDG     , 1850:     0.0000 ±  0.0000
cACC_SOURCE  , 1850:   204.4989 ±  0.2879
cACC_CND     , 1850:     3.2114 ±  0.0141
cACC_ADJsrc  , 1850:     0.0717 ±  0.0006
cACC_CGsrc   , 1850:     0.0001 ±  0.0000
cACC_EVAP    , 1850:   201.2157 ±  0.2852
cACC_SINK    , 1850:  -204.5653 ±  0.2887
cACC_CGsnk   , 1850:    -0.2848 ±  0.0020
cACC_ACT     , 1850:  -146.0373 ±  0.2667
cACC_SCV     , 1850:   -10.3152 ±  0.0217
cACC_IMP     , 1850:   -46.0353 ±  0.0175
cACC_DRY     , 1850:    -1.8927 ±  0.0042
cACC_LDG     , 1850:     0.4017 ±  0.0008
cOC_SOURCE   , 1850:    87.9384 ±  0.0000
cOC_SF       , 1850:    87.9384 ±  0.0000
cOC_SINK     , 1850:   -87.8732 ±  0.0057
cOC_AGEsnk   , 1850:    -5.3406 ±  0.0102
cOC_CGsnk    , 1850:    -0.8101 ±  0.0033
cOC_ACT      , 1850:    -0.0001 ±  0.0000
cOC_SCV      , 1850:     0.0000 ±  0.0000
cOC_IMP      , 1850:   -78.1626 ±  0.0136
cOC_DRY      , 1850:    -3.5599 ±  0.0040
cOC_LDG      , 1850:     1.1852 ±  0.0018
cMOS_SOURCE  , 1850:    12.4123 ±  0.0256
cMOS_CND     , 1850:     0.9690 ±  0.0076
cMOS_AGEsrc  , 1850:    10.4308 ±  0.0199
cMOS_CGsrc   , 1850:     1.0124 ±  0.0040
cMOS_SINK    , 1850:   -12.4606 ±  0.0263
cMOS_ACT     , 1850:    -6.5832 ±  0.0130
cMOS_SCV     , 1850:    -0.4607 ±  0.0022
cMOS_IMP     , 1850:    -5.1816 ±  0.0128
cMOS_DRY     , 1850:    -0.2350 ±  0.0014
cMOS_LDG     , 1850:     0.2158 ±  0.0014
cOIM_SOURCE  , 1850:     6.1506 ±  0.0117
cOIM_AGEsrc  , 1850:     5.3406 ±  0.0102
cOIM_CGsrc   , 1850:     0.8101 ±  0.0033
cOIM_SINK    , 1850:    -6.1738 ±  0.0119
cOIM_ACT     , 1850:    -3.3233 ±  0.0064
cOIM_SCV     , 1850:    -0.2235 ±  0.0010
cOIM_IMP     , 1850:    -2.5161 ±  0.0055
cOIM_DRY     , 1850:    -0.1109 ±  0.0005
cOIM_LDG     , 1850:     0.1077 ±  0.0007
cSIMOS_SOURCE, 1850:     6.2616 ±  0.0153
cSIMOS_CND   , 1850:     0.9690 ±  0.0076
cSIMOS_AGEsrc, 1850:     5.0903 ±  0.0097
cSIMOS_CGsrc , 1850:     0.2023 ±  0.0014
cSIMOS_SINK  , 1850:    -6.2868 ±  0.0157
cSIMOS_ACT   , 1850:    -3.2599 ±  0.0076
cSIMOS_SCV   , 1850:    -0.2372 ±  0.0013
cSIMOS_IMP   , 1850:    -2.6655 ±  0.0078
cSIMOS_DRY   , 1850:    -0.1242 ±  0.0010
cSIMOS_LDG   , 1850:     0.1081 ±  0.0007
cBC_SOURCE   , 1850:     3.0792 ±  0.0000
cBC_SF       , 1850:     3.0792 ±  0.0000
cBC_SINK     , 1850:    -3.0853 ±  0.0004
cBC_AGEsnk   , 1850:    -0.1589 ±  0.0007
cBC_ACT      , 1850:    -0.0000 ±  0.0000
cBC_SCV      , 1850:    -0.0000 ±  0.0000
cBC_IMP      , 1850:    -2.7435 ±  0.0010
cBC_DRY      , 1850:    -0.1828 ±  0.0004
cBC_LDG      , 1850:     0.0476 ±  0.0001
cMBS_SOURCE  , 1850:     0.7145 ±  0.0069
cMBS_CND     , 1850:     0.3216 ±  0.0056
cMBS_AGEsrc  , 1850:     0.3104 ±  0.0013
cMBS_CGsrc   , 1850:     0.0825 ±  0.0007
cMBS_SINK    , 1850:    -0.7176 ±  0.0070
cMBS_ACT     , 1850:    -0.3235 ±  0.0030
cMBS_SCV     , 1850:    -0.0164 ±  0.0003
cMBS_IMP     , 1850:    -0.3524 ±  0.0037
cMBS_DRY     , 1850:    -0.0253 ±  0.0005
cMBS_LDG     , 1850:     0.0108 ±  0.0002
cBIM_SOURCE  , 1850:     0.1589 ±  0.0007
cBIM_AGEsrc  , 1850:     0.1589 ±  0.0007
cBIM_SINK    , 1850:    -0.1595 ±  0.0007
cBIM_ACT     , 1850:    -0.0817 ±  0.0004
cBIM_SCV     , 1850:    -0.0037 ±  0.0000
cBIM_IMP     , 1850:    -0.0696 ±  0.0003
cBIM_DRY     , 1850:    -0.0045 ±  0.0000
cBIM_LDG     , 1850:     0.0019 ±  0.0000
cSIMBS_SOURCE, 1850:     0.5556 ±  0.0065
cSIMBS_CND   , 1850:     0.3216 ±  0.0056
cSIMBS_AGEsrc, 1850:     0.1515 ±  0.0006
cSIMBS_CGsrc , 1850:     0.0825 ±  0.0007
cSIMBS_SINK  , 1850:    -0.5580 ±  0.0065
cSIMBS_ACT   , 1850:    -0.2418 ±  0.0028
cSIMBS_SCV   , 1850:    -0.0127 ±  0.0003
cSIMBS_IMP   , 1850:    -0.2828 ±  0.0035
cSIMBS_DRY   , 1850:    -0.0208 ±  0.0004
cSIMBS_LDG   , 1850:     0.0088 ±  0.0002
Thu Aug  2 12:15:11 +08 2018

Note: the values are ~0.1% lower than Alex's values, due to using slightly different values for the area of the earth.

## Rearrange into DataFrames

In [7]:
# Initialise dataframes
columns = ['tSUL', 'tOC', 'tBC', 'tDST', 'tSSLT',
           'NUC', 'AIT', 'ACC', 'OC', 'MOS', 'OIM', 'SIMOS', 'BC', 'MBS', 'BIM', 'SIMBS']
mean_2000_df = pd.DataFrame(columns=columns)  # marc_s2_2000
error_2000_df = pd.DataFrame(columns=columns)
mean_1850_df = pd.DataFrame(columns=columns)  # marc_s2_1850
error_1850_df = pd.DataFrame(columns=columns)

In [8]:
# Populate with data for diagnostics
for k, v in diagnostic_dict.items():  # loop over diagnostics
    for col in columns:  # loop over columns
        if (k.format(col), '2000') in mean_dict:
            mean_2000_df.loc[v, col] = mean_dict[(k.format(col), '2000')]
            error_2000_df.loc[v, col] = error_dict[(k.format(col), '2000')]
            mean_1850_df.loc[v, col] = mean_dict[(k.format(col), '1850')]
            error_1850_df.loc[v, col] = error_dict[(k.format(col), '1850')]

In [9]:
# Lifetime
mean_2000_df.loc['Lifetime, days'] = (mean_2000_df.loc['Burden, Tg'] /
                                      mean_2000_df.loc['Sinks, Tg/yr'].abs() * 365)
error_2000_df.loc['Lifetime, days'] = (mean_2000_df.loc['Lifetime, days'] *
                                       ((error_2000_df.loc['Burden, Tg'] /
                                         mean_2000_df.loc['Burden, Tg'])**2 +
                                        (error_2000_df.loc['Sinks, Tg/yr'] /
                                         mean_2000_df.loc['Sinks, Tg/yr'].abs())**2).pow(0.5))
mean_1850_df.loc['Lifetime, days'] = (mean_1850_df.loc['Burden, Tg'] /
                                      mean_1850_df.loc['Sinks, Tg/yr'] * -365)
error_1850_df.loc['Lifetime, days'] = (mean_1850_df.loc['Lifetime, days'] *
                                       ((error_1850_df.loc['Burden, Tg'] /
                                         mean_1850_df.loc['Burden, Tg'])**2 +
                                        (error_1850_df.loc['Sinks, Tg/yr'] /
                                         mean_1850_df.loc['Sinks, Tg/yr'].abs())**2).pow(0.5))

In [10]:
# Print means for marc_s2_2000
mean_2000_df

,tSUL,tOC,tBC,tDST,tSSLT,NUC,AIT,ACC,OC,MOS,OIM,SIMOS,BC,MBS,BIM,SIMBS
"Sources, Tg/yr",539,109,7.76,3.68e+03,5.48e+03,0.00908,0.0911,509,109,50.3,23.8,26.4,7.76,8.3,1.83,6.46
Emission,NaN,109,7.76,3.68e+03,5.48e+03,NaN,NaN,NaN,109,NaN,NaN,NaN,7.76,NaN,NaN,NaN
Binary nucleation,0.00195,NaN,NaN,NaN,NaN,0.00195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Condensation,11.6,NaN,NaN,NaN,NaN,0.00714,0.0841,4.37,NaN,3.84,NaN,3.84,NaN,3.25,NaN,3.25
Aging (source),22.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.2,21.6,20.6,NaN,3.58,1.83,1.75
Growth (source),NaN,NaN,NaN,NaN,NaN,NaN,0.00695,0.0897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coagulation (source),NaN,NaN,NaN,NaN,NaN,NaN,1.54e-05,0.000115,NaN,4.24,2.22,2.02,NaN,1.47,NaN,1.47
Hydrometeor evaporation,505,NaN,NaN,NaN,NaN,NaN,NaN,505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Sinks, Tg/yr",-539,-109,-7.77,-3.71e+03,-5.53e+03,-0.0091,-0.0911,-509,-109,-50.4,-23.9,-26.5,-7.76,-8.32,-1.84,-6.48
Aging (sink),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-21.6,NaN,NaN,NaN,-1.83,NaN,NaN,NaN
Growth (sink),NaN,NaN,NaN,NaN,NaN,-0.00695,-0.0897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coagulation (sink),NaN,NaN,NaN,NaN,NaN,-4.88e-05,-0.000116,-3.49,-2.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nucleation scavenging by stratiform clouds,-397,-13.1,-1.02,NaN,NaN,-9e-05,-0.000594,-379,-0.000157,-27.3,-13.1,-14.2,-1.09e-05,-4.19,-1.02,-3.17
Nucleation scavenging by convective clouds,-20.7,-0.513,-0.0277,NaN,NaN,-1.53e-07,-4.74e-07,-20.1,-8.3e-18,-1.07,-0.513,-0.558,-7.74e-19,-0.133,-0.0277,-0.105
Impaction scavenging,-116,-90.7,-6.31,-1.82e+03,-2.32e+03,-0.00199,-0.000589,-102,-81,-20.7,-9.63,-11.1,-5.56,-3.74,-0.741,-3
Dry deposition,-5.25,-4.51,-0.417,-1.89e+03,-3.21e+03,-1.57e-05,-2.61e-05,-4.34,-3.91,-1.3,-0.601,-0.697,-0.363,-0.259,-0.0541,-0.205
"Burden, Tg",1.33,1.49,0.11,40.9,9.6,3.23e-06,2.28e-05,0.942,1.2,0.611,0.292,0.319,0.0918,0.0894,0.0186,0.0708
"Lifetime, days",0.902,5.01,5.19,4.03,0.633,0.13,0.0915,0.675,4.03,4.42,4.46,4.39,4.32,3.92,3.69,3.99

In [11]:
# Print means for marc_s2_1850
mean_1850_df

,tSUL,tOC,tBC,tDST,tSSLT,NUC,AIT,ACC,OC,MOS,OIM,SIMOS,BC,MBS,BIM,SIMBS
"Sources, Tg/yr",211,87.9,3.08,3.79e+03,5.51e+03,0.00665,0.0726,204,87.9,12.4,6.15,6.26,3.08,0.715,0.159,0.556
Emission,NaN,87.9,3.08,3.79e+03,5.51e+03,NaN,NaN,NaN,87.9,NaN,NaN,NaN,3.08,NaN,NaN,NaN
Binary nucleation,0.000882,NaN,NaN,NaN,NaN,0.000882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Condensation,4.57,NaN,NaN,NaN,NaN,0.00576,0.0668,3.21,NaN,0.969,NaN,0.969,NaN,0.322,NaN,0.322
Aging (source),5.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,5.34,5.09,NaN,0.31,0.159,0.151
Growth (source),NaN,NaN,NaN,NaN,NaN,NaN,0.00583,0.0717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coagulation (source),NaN,NaN,NaN,NaN,NaN,NaN,1.36e-05,9.55e-05,NaN,1.01,0.81,0.202,NaN,0.0825,NaN,0.0825
Hydrometeor evaporation,201,NaN,NaN,NaN,NaN,NaN,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Sinks, Tg/yr",-211,-87.9,-3.09,-3.81e+03,-5.56e+03,-0.00665,-0.0726,-205,-87.9,-12.5,-6.17,-6.29,-3.09,-0.718,-0.16,-0.558
Aging (sink),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.34,NaN,NaN,NaN,-0.159,NaN,NaN,NaN
Growth (sink),NaN,NaN,NaN,NaN,NaN,-0.00583,-0.0717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coagulation (sink),NaN,NaN,NaN,NaN,NaN,-3.23e-05,-8.55e-05,-0.285,-0.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nucleation scavenging by stratiform clouds,-150,-3.32,-0.0817,NaN,NaN,-0.000101,-0.000475,-146,-0.000148,-6.58,-3.32,-3.26,-3.53e-06,-0.323,-0.0817,-0.242
Nucleation scavenging by convective clouds,-10.6,-0.224,-0.00374,NaN,NaN,-1.43e-07,-3.87e-07,-10.3,6.19e-18,-0.461,-0.224,-0.237,-4.06e-19,-0.0164,-0.00374,-0.0127
Impaction scavenging,-49,-80.7,-2.81,-1.9e+03,-2.33e+03,-0.000671,-0.00032,-46,-78.2,-5.18,-2.52,-2.67,-2.74,-0.352,-0.0696,-0.283
Dry deposition,-2.04,-3.67,-0.187,-1.91e+03,-3.23e+03,-1.49e-05,-1.68e-05,-1.89,-3.56,-0.235,-0.111,-0.124,-0.183,-0.0253,-0.00446,-0.0208
"Burden, Tg",0.519,1.29,0.0496,41.8,9.66,3.34e-06,1.89e-05,0.402,1.19,0.216,0.108,0.108,0.0476,0.0108,0.00193,0.00883
"Lifetime, days",0.897,5.37,5.86,4,0.634,0.183,0.0948,0.717,4.92,6.32,6.37,6.28,5.63,5.48,4.42,5.78

## Sulfate tables

In [12]:
# Year-2000
# Sulfate columns
sul_cols = ['tSUL', 'NUC', 'AIT', 'ACC', 'SIMOS', 'SIMBS',]
# Extract sulfate data
sul_mean_2000_df = mean_2000_df[sul_cols]
sul_error_2000_df = error_2000_df[sul_cols]
# Drop rows with no data
sul_mean_2000_df = sul_mean_2000_df.dropna(how='all')
sul_error_2000_df = sul_error_2000_df.dropna(how='all')
# Convert values to strings
sul_mean_2000_df = sul_mean_2000_df.applymap(lambda x: '%+.2f' % x)
sul_error_2000_df = sul_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
sul_2000_df = sul_mean_2000_df + ' ± ' + sul_error_2000_df
# Replace 'nan ± nan' with ''
sul_2000_df = sul_2000_df.replace('nan ± nan', '')
sul_2000_df = sul_2000_df.replace('+nan ± nan', '')
# Rename columns
sul_2000_df = sul_2000_df.rename(index=str, columns={'tSUL': 'Sulfate aerosol',
                                                     'NUC': 'in NUC',
                                                     'AIT': 'in AIT',
                                                     'ACC': 'in ACC',
                                                     'SIMOS': 'in MOS',
                                                     'SIMBS': 'in MBS'})
# Replace Tg with Tg(SO4)
for i in sul_2000_df.index:  # not an efficient method, but it works!
    if 'Tg' in i:
        sul_2000_df = sul_2000_df.rename({i: 'Tg(SO4)'.join(i.split('Tg'))})
# Save to CSV
out_filename = 'csv/t01.csv'
sul_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/t01.xlsx'
sul_2000_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
sul_2000_df.style.set_caption('Year-2000')

Written csv/t01.csv
Written csv/t01.xlsx

In [13]:
# Year-1850
# Extract sulfate data
sul_mean_1850_df = mean_1850_df[sul_cols]
sul_error_1850_df = error_1850_df[sul_cols]
# Drop rows with no data
sul_mean_1850_df = sul_mean_1850_df.dropna(how='all')
sul_error_1850_df = sul_error_1850_df.dropna(how='all')
# Convert values to strings
sul_mean_1850_df = sul_mean_1850_df.applymap(lambda x: '%+.2f' % x)
sul_error_1850_df = sul_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
sul_1850_df = sul_mean_1850_df + ' ± ' + sul_error_1850_df
# Replace 'nan ± nan' with ''
sul_1850_df = sul_1850_df.replace('nan ± nan', '')
sul_1850_df = sul_1850_df.replace('+nan ± nan', '')
# Rename columns
sul_1850_df = sul_1850_df.rename(index=str, columns={'tSUL': 'Sulfate aerosol',
                                                     'NUC': 'in NUC',
                                                     'AIT': 'in AIT',
                                                     'ACC': 'in ACC',
                                                     'SIMOS': 'in MOS',
                                                     'SIMBS': 'in MBS'})
# Replace Tg with Tg(SO4)
for i in sul_1850_df.index:
    if 'Tg' in i:
        sul_1850_df = sul_1850_df.rename({i: 'Tg(SO4)'.join(i.split('Tg'))})
# Save to CSV
out_filename = 'csv/tS01.csv'
sul_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/tS01.xlsx'
sul_1850_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
sul_1850_df.style.set_caption('Year-1850')

Written csv/tS01.csv
Written csv/tS01.xlsx

## Organic carbon (OC) tables

In [14]:
# Year-2000
# OC columns
oc_cols = ['tOC', 'OC', 'OIM',]
# Extract OC data
oc_mean_2000_df = mean_2000_df[oc_cols]
oc_error_2000_df = error_2000_df[oc_cols]
# Drop rows with no data
oc_mean_2000_df = oc_mean_2000_df.dropna(how='all')
oc_error_2000_df = oc_error_2000_df.dropna(how='all')
# Convert values to strings
oc_mean_2000_df = oc_mean_2000_df.applymap(lambda x: '%+.2f' % x)
oc_error_2000_df = oc_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
oc_2000_df = oc_mean_2000_df + ' ± ' + oc_error_2000_df
# Replace 'nan ± nan' with ''
oc_2000_df = oc_2000_df.replace('nan ± nan', '')
oc_2000_df = oc_2000_df.replace('+nan ± nan', '')
# Rename columns
oc_2000_df = oc_2000_df.rename(index=str, columns={'tOC': 'Organic carbon aerosol',
                                                   'OC': 'in pure OC',
                                                   'OIM': 'in MOS'})
# Save to CSV
out_filename = 'csv/t02.csv'
oc_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/t02.xlsx'
oc_2000_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
oc_2000_df.style.set_caption('Year-2000')

Written csv/t02.csv
Written csv/t02.xlsx

In [15]:
# Year-1850
# OC columns
oc_cols = ['tOC', 'OC', 'OIM',]
# Extract OC data
oc_mean_1850_df = mean_1850_df[oc_cols]
oc_error_1850_df = error_1850_df[oc_cols]
# Drop rows with no data
oc_mean_1850_df = oc_mean_1850_df.dropna(how='all')
oc_error_1850_df = oc_error_1850_df.dropna(how='all')
# Convert values to strings
oc_mean_1850_df = oc_mean_1850_df.applymap(lambda x: '%+.2f' % x)
oc_error_1850_df = oc_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
oc_1850_df = oc_mean_1850_df + ' ± ' + oc_error_1850_df
# Replace 'nan ± nan' with ''
oc_1850_df = oc_1850_df.replace('nan ± nan', '')
oc_1850_df = oc_1850_df.replace('+nan ± nan', '')
# Rename columns
oc_1850_df = oc_1850_df.rename(index=str, columns={'tOC': 'Organic carbon aerosol',
                                                   'OC': 'in pure OC',
                                                   'OIM': 'in MOS'})
# Save to CSV
out_filename = 'csv/tS02.csv'
oc_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/tS02.xlsx'
oc_1850_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
oc_1850_df.style.set_caption('Year-1850')

Written csv/tS02.csv
Written csv/tS02.xlsx

## Black carbon (BC) tables

In [16]:
# Year-2000
# BC columns
bc_cols = ['tBC', 'BC', 'BIM',]
# Extract BC data
bc_mean_2000_df = mean_2000_df[bc_cols]
bc_error_2000_df = error_2000_df[bc_cols]
# Drop rows with no data
bc_mean_2000_df = bc_mean_2000_df.dropna(how='all')
bc_error_2000_df = bc_error_2000_df.dropna(how='all')
# Convert values to strings
bc_mean_2000_df = bc_mean_2000_df.applymap(lambda x: '%+.2f' % x)
bc_error_2000_df = bc_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
bc_2000_df = bc_mean_2000_df + ' ± ' + bc_error_2000_df
# Replace 'nan ± nan' with ''
bc_2000_df = bc_2000_df.replace('nan ± nan', '')
bc_2000_df = bc_2000_df.replace('+nan ± nan', '')
# Rename columns
bc_2000_df = bc_2000_df.rename(index=str, columns={'tBC': 'Black carbon aerosol',
                                                   'BC': 'in pure BC',
                                                   'BIM': 'in MBS'})
# Save to CSV
out_filename = 'csv/t03.csv'
bc_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/t03.xlsx'
bc_2000_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
bc_2000_df.style.set_caption('Year-2000')

Written csv/t03.csv
Written csv/t03.xlsx

In [17]:
# Year-1850
# BC columns
bc_cols = ['tBC', 'BC', 'BIM',]
# Extract BC data
bc_mean_1850_df = mean_1850_df[bc_cols]
bc_error_1850_df = error_1850_df[bc_cols]
# Drop rows with no data
bc_mean_1850_df = bc_mean_1850_df.dropna(how='all')
bc_error_1850_df = bc_error_1850_df.dropna(how='all')
# Convert values to strings
bc_mean_1850_df = bc_mean_1850_df.applymap(lambda x: '%+.2f' % x)
bc_error_1850_df = bc_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
bc_1850_df = bc_mean_1850_df + ' ± ' + bc_error_1850_df
# Replace 'nan ± nan' with ''
bc_1850_df = bc_1850_df.replace('nan ± nan', '')
bc_1850_df = bc_1850_df.replace('+nan ± nan', '')
# Rename columns
bc_1850_df = bc_1850_df.rename(index=str, columns={'tBC': 'Black carbon aerosol',
                                                   'BC': 'in pure BC',
                                                   'BIM': 'in MBS'})
# Save to CSV
out_filename = 'csv/tS03.csv'
bc_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/tS03.xlsx'
bc_1850_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
bc_1850_df.style.set_caption('Year-1850')

Written csv/tS03.csv
Written csv/tS03.xlsx

## Dust and sea-salt

In [18]:
# Year-2000
# Columns
dust_salt_cols = ['tDST', 'tSSLT']
# Extract data
dust_salt_mean_2000_df = mean_2000_df[dust_salt_cols]
dust_salt_error_2000_df = error_2000_df[dust_salt_cols]
# Drop rows with no data
dust_salt_mean_2000_df = dust_salt_mean_2000_df.dropna(how='all')
dust_salt_error_2000_df = dust_salt_error_2000_df.dropna(how='all')
# Convert values to strings
dust_salt_mean_2000_df = dust_salt_mean_2000_df.applymap(lambda x: '%+.2f' % x)
dust_salt_error_2000_df = dust_salt_error_2000_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
dust_salt_2000_df = dust_salt_mean_2000_df + ' ± ' + dust_salt_error_2000_df
# Replace 'nan ± nan' with ''
dust_salt_2000_df = dust_salt_2000_df.replace('nan ± nan', '')
dust_salt_2000_df = dust_salt_2000_df.replace('+nan ± nan', '')
# Rename columns
dust_salt_2000_df = dust_salt_2000_df.rename(index=str, columns={'tSSLT': 'Sea salt aerosol',
                                                                 'tDST': 'Dust aerosol',})
# Save to CSV
out_filename = 'csv/t04.csv'
dust_salt_2000_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/t04.xlsx'
dust_salt_2000_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
dust_salt_2000_df.style.set_caption('Year-2000')

Written csv/t04.csv
Written csv/t04.xlsx

In [19]:
# Year-1850
# Columns
dust_salt_cols = ['tSSLT', 'tDST']
# Extract data
dust_salt_mean_1850_df = mean_1850_df[dust_salt_cols]
dust_salt_error_1850_df = error_1850_df[dust_salt_cols]
# Drop rows with no data
dust_salt_mean_1850_df = dust_salt_mean_1850_df.dropna(how='all')
dust_salt_error_1850_df = dust_salt_error_1850_df.dropna(how='all')
# Convert values to strings
dust_salt_mean_1850_df = dust_salt_mean_1850_df.applymap(lambda x: '%+.2f' % x)
dust_salt_error_1850_df = dust_salt_error_1850_df.applymap(lambda x: '%.2f' % x)
# Combine mean and standard error strings
dust_salt_1850_df = dust_salt_mean_1850_df + ' ± ' + dust_salt_error_1850_df
# Replace 'nan ± nan' with ''
dust_salt_1850_df = dust_salt_1850_df.replace('nan ± nan', '')
dust_salt_1850_df = dust_salt_1850_df.replace('+nan ± nan', '')
# Rename columns
dust_salt_1850_df = dust_salt_1850_df.rename(index=str, columns={'tSSLT': 'Sea salt aerosol',
                                                                 'tDST': 'Dust aerosol',})
# Save to CSV
out_filename = 'csv/tS04.csv'
dust_salt_1850_df.to_csv(out_filename)
print('Written {}'.format(out_filename))
# Save to Excel
out_filename = 'csv/tS04.xlsx'
dust_salt_1850_df.to_excel(out_filename)
print('Written {}'.format(out_filename))
# Display
dust_salt_1850_df.style.set_caption('Year-1850')

Written csv/tS04.csv
Written csv/tS04.xlsx

In [20]:
! date

Thu Aug  2 12:15:12 +08 2018